<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <title>分布式长连接聊天室</title>
        <link rel="stylesheet" href="{{ static_url("css/chat.css") }}" type="text/css"/>
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css"/>
        <script src="{{ static_url("js/bootstrap/bootstrap.js") }}" type="text/javascript"></script>
    </head>
    <body>
        <div style="margin-top: 150px; text-align: center;">
            <div style="display: inline-block; width: 940px;">
                <div class="hero-unit" style="text-align: left;">
                    <h2>多用户长连接聊天室</h2>
                    <p>分布式部署 Comet长连接 无限房间数量 实时上线下线通知</p>
                    <p>
                        <a href="/login" class="btn btn-primary btn-large">
                            点击体验
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
